/*
    Name: Jordy Francis
    filename: style.css
    Course: INFT 2202
    Date: December 31, 1999
    Description: This is my general style sheet.  Styles that affect all pages should go here.
*/

body{
    color:peachpuff;
}